@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.tmb-navbar {
      background-color: #0d4646;
      color: #fefefe;
}

.tmb-logo {
      color: #fefefe;
      font-size: 24px;
      font-weight: 500;
}

.hero-section {
      background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.9)), url("../images/hero-bg.jpg");
      height: 50vh;
      max-height: 100vh;
      color: #fefefe;
      position: relative;
      margin-top: 0px;
}

.hero-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.logo {
      color: teal;
}

.tmb-title {
      font-size: 46px;
      font-weight: 700;
}

.tmb-control {
      border-radius: 40px;
}


.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    margin-top: 20px;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid teal;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: teal;
    border-radius: 40px;
}